<a href="https://colab.research.google.com/github/Anu0907/Python/blob/main/Basic%20Programs%20-%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**31. Program for Reverse of given string using 'for loop'**

In [1]:
def reverse(string):
  reversed_str = " "
  
  for i in string:
    reversed_str = i + reversed_str
  return reversed_str

str = input("Enter the string: ")
print(reverse(str))

Enter the string: python program
margorp nohtyp

###**32. Check whether the entered character is vowel or consonant**

In [2]:
ch = input("Enter the character: ")

if ch.lower() in ('a','e','i','o','u'):
  print('Vowel')
elif ch.upper() in ('A','E','I','O','U'):
  print('Vowel')
else:
  print('Consonant')

Enter the character: a
Vowel

###**33. Program to convert temperature given in Fahrenheit to Celsius and vice versa**

In [3]:
nx = input("Please enter temperature with unit: ")
n = int(nx[:-1])
x = nx[-1]

if x.upper()=='C' or x.lower()=='c':
  n1 = int((9*n)/5+32)
  x1 = 'F'
  print("{0:.2f} {1}".format(n1,x1))
elif x.upper()=='F' or x.lower()=='f':
  n1 = int(round((n-32)*5/9))
  x1 = 'C'
  print("{0:.2f} {1}".format(n1,x1))
else:
  print("Unrecognized unit:", x)

Please enter temperature with unit: 27f
-3.00 C

###**34. Program to Calculate Fibonacci numbers less than a given number and Calculate sum of all alternate numbers (even numbered) in the generated list**

In [4]:
n = int(input("Please enter the input: "))
a=0
b=1
c=0
x=[0]

for i in range(n):
  if a>n:
    break
  else:
    print(a)
    c=int(a+b)
    a=b
    b=c
    x.append(a)

y=x[:-1]
sum=0
z=len(y)/2

if len(y)%2!=0:
  for i in range(int(len(y)/2)+1):
    sum=sum+y[2*i]
  print("Sum is:", sum)
else:
  for i in range(int(len(y)/2)):
    sum=sum+y[2*i]
  print("Sum is:", sum)

Please enter the input: 15
0
1
1
2
3
5
8
13
Sum is: 12

### **35. Print a multiplication table up to a maximum of 20 rows. Even if the number of rows asked by user is more than 20, we should limit up to 20 rows and print an error message as shown**

In [5]:
x = int(input("Table: "))
y = int(input("Range: "))

for i in range(1,y+1):
  if y<20:
    print("{0} * {1} = {2}".format(x,i,x*i))
else:
  if y>20:
    for i in range(1,21):
      print("{0} * {1} = {2}".format(x,i,x*i))
    print("Limit is 20")

Table: 5
Range: 23
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
Limit is 20

### **36. Print the pyramid**

In [6]:
x = int(input("Enter number of rows: "))

for i in range(0,x):
  for j in range(0,x-i-1):
    print(end=" ")
  for j in range(0,i+1):
    print("*",end=" ")
  print()

Enter number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

### **37. Program to print each character of a string in incremental order**

In [7]:
x = input("Enter the string: ")
y = list(x)
a = len(y)
b = []

for i in range(0,a+1):
  for j in range(0,i):
    b.append(y[j])

b = ''.join(b)
print(b)

Enter the string: python
ppypytpythpythopython

### **38. Program to find how many times a single digit is repeated in a given number**

In [8]:
x = input("Enter an integer: ")
y = ""
z = []

for i in x:
  y = ("{0}\t{1}\n".format(i,x.count(i)))
  if y in z:
    continue
  z.append(y)

a = list(z[-1])
del(z[-1])
del(a[-1])
a = ''.join(a)
z.append(a)
z = ''.join(z)
print(z)

Enter an integer: 11454
1	2
4	2
5	1

### **39. Print pascal's triangle**

In [9]:
n = int(input("Enter number of rows: "))

for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

Enter number of rows: 7
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 5 10 10 5 1
  1 6 15 20 15 6 1

### **40. Print diamond pattern**

In [10]:
n = int(input("Enter a positive integer: "))

for i in range(n):
  print(" " *(n-i) + "*" * (2*i+1))

for i in range(n-2,-1,-1):
  print(" " *(n-i) + "*" *(2*i+1))

Enter a positive integer: 6
      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *